<% dealer_cards = dealer_cards%>

<div class="dealer-hand" >

    <div class="hand" id="hand">
        <% dealer_cards.each do |card| %>
            <div>
                <%= render "card/card_item", facing: facing, card: card %>
            </div>
        <% end %>
    </div>
</div>

<div class="dealer-points"><%= handValue %></div>