<div class="dealer-hand" >
    <div class="hand" id="hand">
        <% cards.each_with_index do |card, index| %>            
            <% if index == 1 %>
                <%= render "card/card_item", facing: "front", card: card%>
                <% else %>
                    <%= render "card/card_item", facing: facing, card: card %>
            <% end %>
        <% end %>
    </div>
    <% if facing == 'front' %>
        <div class="hand-score" style="margin-top: 10px">
            <%= "Score: #{score}" %>
        </div>
    <% end %>
</div>