<div class="player-space">
    <div class="hands">
        <%= "Hand #: #{index + 1}" %>
        <%= "Bet: $#{bet}" %>
        <div class="player-hand">
            <% if bust   %><span style="color: #f00; font-size: 1.5rem;">BUST</span><% end %>
            <% if stood && !bust %><span style="color: #FFF; font-size: 1.5rem;">STOOD</span><% end %>
            <div class="hand" id="hand">
                <% cards.each_with_index do | card, index | %>
                    <%= render "card/card_item", facing: facing, card: card, number: index, size: cards.size, more_than_two: cards.size > 2 %>
                <% end %>
            </div>
        </div>
        <div class="hand-score">
            <%= "Score: #{score}" %>
        </div>
    </div>
</div>