<div class="game-space">
    <div class="dealer" >
        <%= render "dealer_space", facing: "front", cards: @cards %>
    </div>
    <div class="player" >
        <%= render "player_space", facing: "front", cards: @cards %>
    </div>
</div>