<div class="card">
    <% facing %>
    <% if facing == "front" %>
        <div class="suit-position"><%= render "card/card_suit", suit: card['suit'] %></div>
        <p class="rank"><%= render "card/card_rank", rank: card['rank'] %></p>
        <% else %>
            <%= render "card/card_back" %>
    <% end %>
</div>