/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .card {
    border: solid 2px black;
    width: 100px;
    height: 160px;
    margin: auto;
    justify-items: center;
    align-content: center;
    text-align: center;
    position: relative;
 }

 .suit-position {
    position: absolute;
    top: 2px;
    left: 1px;
    font-size: 2rem;
 }

 .rank {
    font-size: 2rem;
 }
